#chat
{  width: 400px;
    height: 500px;
    background-color: aliceblue;
    overflow: scroll;

}

#chatContainer
{
    float: right;
}


#ctx
{
    float:left;
    border: 1px solid black;
    /*width: 500px;
    height: 500px;*/

    
}
